{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}



<h1 id="bag-product-count-display" data-product_count="{{ product_count }}">Your Shopping Bag: {{ product_count }} items
</h1>

<hr>

<div>
    {% if bag_items %}
    <table class="table is-bordered is-striped is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Items Info</th>
                <th></th>
                <th>Unit Price</th>
                <th>Qty</th>
                <!--<th>Item Total</th>-->
            </tr>
        </thead>
        <tfoot>
            <h6>
                <span class="icon">
                    <i class="fa fa-book"></i>
                </span>
                <strong>Items: €{{ total|floatformat:2 }}</strong>
            </h6>
            <h6>
                <span class="icon">
                    <i class="fas fa-truck"></i>
                </span>
                Delivery: €{{ delivery|floatformat:2 }}
            </h6>
            <h4>
                <span class="icon">
                    <i class="fas fa-equals"></i>
                </span>
                <strong>Bag Grand Total: €{{ grand_total|floatformat:2 }}</strong>
            </h4>
            {% if free_delivery_delta > 0 %}
            <p>
                You're <strong>€{{ free_delivery_delta }}</strong> away from a free delivery...
            </p>
            {% endif %}
        </tfoot>
        <tbody>
            {% for item in bag_items %}
            <tr>
                <td><img src="{{ item.product.image.url }}" alt="{{ product.name }}" /></td>
                <td>
                    <p><strong><em>{{ item.product.name }}</em></strong></p>
                    <p><strong>{{ item.product.author}}</strong></p>
                    <p>SKU: {{ item.product.sku|upper }}</p>
                </td>

                <td>
                    <p>Unit Price: €{{ item.product.price }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Item Total: €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                </td>

                <td>

                    {% include "bag/quantity-form.html" %}
                    <!--
                    <a class="update-link text-info"><small>Update</small></a>
                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}
                    "><small>Remove</small></a>
                    -->
                </td>

                <!--
                <td>

                </td>
                -->

            </tr>
            {% endfor %}
            <tr>
                <td colspan="5" class="text-right">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>Your bag is empty.</p>
    <a href="{% url 'products' %}">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span>Keep Shopping</span>
    </a>
    {% endif %}


</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
-->
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        //var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken/*, 'product_size': size*/ };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}