<form method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}"
                onclick="decreaseValue()">
                <span>
                    <i class="fas fa-minus fa-sm"></i>
                </span>
            </button>
        </div>
        <input type="number" class="input is-rounded is-small is-focused" name="quantity" value="{{ item.quantity }}"
            min="1" max="99" data-item_id="{{ item.item_id }}" id="bag_item_qty" />
        <div class="control">
            <button class="button is-link" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}"
                onclick="increaseValue()">
                <span>
                    <i class="fas fa-plus fa-sm"></i>
                </span>
            </button>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>

</form>