{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
            <h1 class="title">
                Welcome To Our Online Bookstore!
            </h1>
            
            <div class="dropdown is-up is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu7">
                        <span class="icon">
                            <i class="fa fa-book"></i>
                        </span>
                        <span>Browse The Books!</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-up" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu7" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <a href="{% url 'products' %}" class="dropdown-item">
                                All Books
                            </a>
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">
                                By Category
                            </a>
                            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">
                                By Rating
                            </a>
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">
                                By Price
                            </a>
                            <a href="{% url 'products' %}?sort=author&direction=desc" class="dropdown-item">
                                By Author
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </section>



    {% endblock %}