@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Dekko', 'Courier New', Courier, monospace;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.navbar {
    font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
}

::placeholder, 
div[class="dropdown-trigger"] p {
    font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
    font-size: larger;
}

#sort-selector {
    font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 29%);
}

.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('/media/books_vintage_wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

.navbar-brand p {
    font-size: 3em;
}

/* Tagret the logo image */
/*img[alt="Logo"] {
    box-shadow: 0px 0px 5px #fff;
}*/

/* Tagret the logo image & text element */
#site-logo:hover {
    background-color: transparent;
}

/* Tagret the free-delivery-banner */
#free-delivery-banner {
    font-size: 1.5em;
}

/* Make the logo only takes up as much space 
as the text requires and no more. */
.navbar-brand a {
    width: fit-content;
}

/* Tagret hamburger-menu's bars */
span[data-target="navbarMenu"] span {
    height: 0.15em;
    background-color: #ffffff;
}

/* START: Target dropup/dropdown menu */
div[class="dropdown-content"], 
#log-in-button button {
    background-color: transparent;
}

#log-in-button button:hover, 
a[data-tooltip="View your bag"]:hover {
    border: 1px solid #ffffff;
    /* Alternatively set box-shadow to: 0 0 1px 1px #ffffff; */
    box-shadow: 2px 2px #ffffff;
}

#search-button, 
input[placeholder="Search for books!"], 
input[placeholder="Search for books!"]:hover {
    border: 1px solid #ffffff;
}

/* Target the Bag button */
a[data-tooltip="View your bag"]:hover {
    background-color: transparent!important;
    color: #ffffff!important;
}

#bag {
    background-color: transparent;
}

/* Tagret individual products/books as display on the products page,
as they are displayed as Bulma 'cards' */
.card {
    background-color: transparent;
}

.card .card-content p[class="title"] {
    color: #ffffff;
}

.card .subtitle {
    padding: 0.5em 0;
}

.card footer[class="card-footer"] {
    border: none;
    color: #fff;
}

footer[class="card-footer"] .card-footer-item {
    border: none;
    padding: 0 0.5em;
}

/* Make all the 'contents' of the #log-in-button the same color */
#log-in-button * {
    color: #ffffff;
}

a[class="dropdown-item"] {
    color: #ffffff;
    font-style: italic;
    font-size: larger;
}

a[class="dropdown-item"]:hover, 
.update-link:hover, 
.remove-item:hover {
    font-weight: bold!important;
    text-shadow: 2px 2px 4px #ffffff!important;
    background-color: transparent!important;
    color: #ffffff!important;
    /*font-size: large;*/
}
/* END: Target dropup/dropdown menu */

#navbarMenu {
    background-color: transparent;
}

#myBtn {
    /* This shade of green is from the Bulma documentation */
    background-color: hsl(141, 53%, 53%)!important;
    border-radius: 50%!important;
}

#myBtn:hover, 
#search-button {
    /* To match the default Bulma tooltip color: 'grey-dark' */
    background-color: hsl(0, 0%, 29%)!important;
}

/* Change search icon's color */
#search-button i[class="fas fa-search"] {
    color: #ffffff;
}

#quantity-control-form label, 
div[class="field"] label[class="label"] {
    color: #fff;
}

.table-container table {
    background-color: transparent;
    color: #fff;
}

label[for="quantity"], 
.table thead th {
    color: #fff;
}

tbody td {
    width: 1rem;
}

a[class="remove-item"], 
#keep-shopping {
    margin-right: 1em;
}

a[class="update-link"], 
#secure-checkout {
    margin-left: 1em;
}

.decrement-qty, 
.increment-qty {
    color: #fff;
    background-color: hsl(0, 0%, 29%);
    font-weight: 900!important;
}

input[class="input qty_input"] {
    font-family: 'Caveat Brush', Arial, Helvetica, sans-serif;
}

#keep-shopping, 
#secure-checkout {
    color: #fff;
    background-color: hsl(0, 0%, 29%);
    font-weight: bolder;
}

#keep-shopping:hover, 
#secure-checkout:hover {
    /* These colors are to match the Bulma styling
    for hovering over buttons*/
    border-color: #b5b5b5;
    color: #363636;
}

/*
.card-content p {
    color: purple!important;
    text-align: justify!important;
    text-justify: inter-word!important;
}
*/

/* START: w3schools.com back-to-top button
https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  /* There's a clash with Bulma sytles, so this is to push 
  the arrow icon up towards the middle of the button */
  line-height: 1;
}

#myBtn:hover {
  background-color: #555;
}
/* END: w3schools.com back-to-top button */

.hide {
  display: none;
}

#browse-button:hover ~ .dropdown-menu .hide {
  display: block;
  position: absolute;
  top: 35px;
  left: 60px;
}

/* START: Heartbeat animation 
https://www.freecodecamp.org/learn/responsive-web-design/applied-visual-design/make-a-css-heartbeat-using-an-infinite-animation-count */

/*.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation-name: backdiv;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }*/

  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8a0303; /*alt.: #ef999f*/
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .heart:after {
    background-color: #8a0303; /*alt.: #ef999f*/
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart:before {
    background-color: #8a0303; /*alt.: #ef999f*/
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  /*@keyframes backdiv {
    50% {
      background: #ffe6f2;
    }
  }*/

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }

/* END: Heartbeat animation */

#addtobag {
    cursor: pointer;
}

/* START: Add-to-Bag animation functionality related styling
https://codepen.io/designcouch/pen/OJPdZxg */
.page-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper button {
  padding: 20px;
  border: none;
  background: #d5d8e7;
  position: relative;
  outline: none;
  border-radius: 5px;
  color: #292d48;
  font-size: 18px;
}
.page-wrapper button .bag-item {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
}
.page-wrapper button .bag-item:before {
  content: '+';
  /*content: attr(data-user_input);*/
  /*content: attr(data-totalitems);*/
  /*content: '';*/
  display: block;
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: 600;
  background: #fff;
  color: hsl(0, 0%, 29%);
  border-radius: 20px;
  text-align: center;
}
.page-wrapper button.sendtobag .bag-item {
  display: block;
  animation: xAxis 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}
.page-wrapper button.sendtobag .bag-item:before {
  animation: yAxis 1s alternate forwards cubic-bezier(1, 0.44, 0.84, 0.165);
}
.bag {
  /*position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;*/
  background: #292d48;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.bag i {
  font-size: 25px;
  color: white;
}
.bag:before {
  /*font-family: "Font Awesome 5 Free";*/
  /*content: "\f581";*/
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: hsl(0, 0%, 29%);
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: #fff;
  text-align: center;
  border-radius: 24px;
}
.bag.shake {
  animation: shakeBag 0.4s ease-in-out forwards;
}
@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 300px));
  }
}
@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh - 300px));
  }
}
@keyframes shakeBag {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
/* END: Add-to-Bag animation functionality related styling */