{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <div class="pageloader is-bottom-to-top"><span class="title">Pageloader</span></div>
    <button onclick="topFunction()" id="myBtn" title="Back to Top" data-tooltip="Tooltip content"
        class="has-tooltip-active">
        <a>
            <i class="fas fa-arrow-up"></i>
        </a>
    </button>
    <h1>Products</h1>
    {% for c in current_categories %}
    <span>
        <a href="{% url 'products' %}?category={{ c.name }}">
            <span>{{ c.friendly_name }}</span>
        </a>
    </span>
    {% endfor %}
    <div class="select">
        <select id="sort-selector">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
            </option>
            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)
            </option>
            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to
                low)</option>
            <option value="author_asc" {% if current_sorting == 'author_asc' %}selected{% endif %}>Author (A-Z)</option>
            <option value="author_desc" {% if current_sorting == 'author_desc' %}selected{% endif %}>Author (Z-A)
            </option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)
            </option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
            </option>
        </select>
    </div>

    <div>
        <p>
            {% if search_term or current_categories or current_sorting != 'None_None' %}
            <span><a href="{% url 'products' %}">Products Home</a> | </span>
            {% endif %}
            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
        </p>
    </div>

    <div class="container">
        <div class="notification is-primary columns is-multiline">
            {% for product in products %}
            <div class="card column m-1 is-one-quarter-widescreen is-one-third-tablet is-centered">
                <div class="card-content">
                    <p class="title">
                        “{{ product.name }}”
                    </p>
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                            alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <p class="subtitle">
                        {{ product.author }}
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            €{{ product.price }}
                        </span>
                    </p>
                    <p class="card-footer-item">
                        {% if product.rating %}
                        <span>
                            <i class="fas fa-star"></i> {{ product.rating }}
                        </span>
                        {% else %}
                        <span>
                            <i class="fas fa-star"></i> No Rating
                        </span>
                        {% endif %}
                    </p>
                    <p class="card-footer-item">
                        {% if product.category %}
                        <span>
                            <!--The 'user friendly name' is displayed on the page,
                            and the 'programmatic name' functions as the href-->
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-folder-open"></i> {{ product.category.friendly_name }}
                            </a>
                        </span>
                        {% endif %}
                    </p>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#addtobag').on('click', function () {

            var button = $(this);
            var bag = $('#bag');
            var bagTotal = bag.attr('data-totalitems');
            var newBagTotal = parseInt(bagTotal) + 1;

            button.addClass('sendtobag');
            setTimeout(function () {
                button.removeClass('sendtobag');
                bag.addClass('shake').attr('data-totalitems', newBagTotal);
                setTimeout(function () {
                    bag.removeClass('shake');
                }, 500)
            }, 1000)
        })
    })
</script>
{% endblock %}