{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <div class="pageloader is-bottom-to-top"><span class="title">Pageloader</span></div>
    <button class="button" onclick="topFunction()" id="myBtn" data-tooltip="Back to top">
        <a>
            <i class="fas fa-arrow-up"></i>
        </a>
    </button>
    <br />
    {% for c in current_categories %}
    <span>
        <a href="{% url 'products' %}?category={{ c.name }}">
            <span>{{ c.friendly_name }}</span>
        </a>
    </span>
    {% endfor %}
    <div class="select">
        <select id="sort-selector">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
            </option>
            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)
            </option>
            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to
                low)</option>
            <option value="author_asc" {% if current_sorting == 'author_asc' %}selected{% endif %}>Author (A-Z)</option>
            <option value="author_desc" {% if current_sorting == 'author_desc' %}selected{% endif %}>Author (Z-A)
            </option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)
            </option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
            </option>
        </select>
    </div>

    <div>
        <p>
            {% if search_term or current_categories or current_sorting != 'None_None' %}
            <span id="back-to-products">
                <a href="{% url 'products' %}">
                    <i class="fas fa-chevron-left"></i> Back
                </a>
            </span>
            <span class="icon" id="grip-lines-vertical">
                <i class="fas fa-grip-lines-vertical"></i>
            </span>
            {% endif %}
            <span id="products-found">
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </span>
        </p>
    </div>

    <div class="container">
        <div class="columns is-multiline">
            {% for product in products %}
            <div class="card column m-1 is-one-quarter-widescreen is-one-third-tablet is-centered">
                <div class="card-content">
                    <p class="title">
                        “{{ product.name }}”
                    </p>
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ MEDIA_URL }}no-image-available-icon-photo-camera-flat-vector-illustration-132483141.jpg"
                            alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <p class="subtitle">
                        {{ product.author }}
                    </p>
                    <p class="subtitle publisher">
                        <i class="far fa-building"></i> {{ product.publisher }}
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            €{{ product.price }}
                        </span>
                    </p>
                    <p class="card-footer-item">
                        {% if product.rating %}
                        <span>
                            <i class="fas fa-star"></i> {{ product.rating }}
                        </span>
                        {% else %}
                        <span>
                            <i class="fas fa-star"></i> No Rating
                        </span>
                        {% endif %}
                    </p>
                    <p class="card-footer-item">
                        {% if product.category %}
                        <span>
                            <!--The 'user friendly name' is displayed on the page,
                            and the 'programmatic name' functions as the href-->
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                            </a>
                        </span>
                        {% endif %}
                    </p>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Sort selector script -->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>

<!-- Back to Top button script -->
<script type="text/javascript">
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{% endblock %}